<div ng-controller="newCtrl as NC">
	<table>
		<tr>
			<th>Name</th>
			<th>City</th>
			<th>Age</th>
			<th>Actions</th>
			
		</tr>
		<tr ng-repeat="friend in NC.allFriends">
			<td>{{ friend.name }}</td>
			<td>{{ friend.city }}</td>
			<td>{{ friend.age }}</td>
			<td>
			
			<button ng-click="NC.deleteFriend(friend._id)">Delete</button>

			<a href="#/show/{{friend._id}}"><button ng-click="NC.getOneFriend(friend._id)">Show</button></a>
			<a href="#/edit/{{friend._id}}"><button ng-click="NC.getOneFriend(friend._id)">Edit</button></a>

			</td>
			
		</tr>
	</table>
</div>